// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tracks {
    background: white;
    color: black;
    border: 2px solid #c5eff7;
    width: 60%;
    position: relative;
    right: -200px;
    top: -50px;
    thead {
	font-size: 1vw;
	font-family: 'Raleway','Titillium Web';
	background: red;
	box-shadow: -12px 10px 10px -10px black;
	border-radius: 3px;
	color: white;
	border-width: 0px;
	position: fixed;
	left: 310px;
	width: 100%;
	tr {
	    background: red;
	    th {
		padding: 15px;

	    }
	}
    }
}