// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tracks {
    background: white;
    color: black;
    border: 2px solid red;
    font-size: 2vw;
    border-radius: 0 50px 0 50px;
    width: 60%;
    position: relative;
    right: -200px;
    top: -50px;
    thead {
	background: red;
	box-shadow: -12px 10px 10px -10px black;
	border-radius: 3px;
	color: white;
    }
}